/Java/JCalculator/nbproject/private/
/Java/JCalculator/build/
/Java/PAMovieCatalog/nbproject/private/
/Java/PAMovieCatalog/build/
/Java/PAMovieCatalog/dist/
/Java/PALabyrinthEditor/nbproject/private/
/Java/PALabyrinthEditor/build/
/Java/PALabyrinthEditor/dist/
/Java/ProgramareAvansata/nbproject/private/
/Java/LabyrinthPA/LabyrinthPA/nbproject/private/
/Java/MazeGameDemo/nbproject/private/
/Java/LabyrinthPA/LabyrinthPA/build/
/Java/LabyrinthPA/LabyrinthPA/dist/
/Java/Lab7PL/nbproject/private/
/Java/Lab7PL/build/
/Java/PASortingAlgorithms/nbproject/private/
/Java/PASortingAlgorithms/build/
/Java/PASortingAlgorithms/dist/
/Web/TW/WEGAS/WEGASGame/nbproject/private/
/Java/ProiectIP/JavaApplication4/nbproject/private/
/Java/ProiectIP/ProiectIP/nbproject/private/
/Java/PAGO/PAGOCommon/nbproject/private/
/Java/PAGO/PAGOCommon/build/
/Java/PAGO/PAGOCommon/dist/
/Java/GobangPA/GobangPA/nbproject/private/
/Java/GobangPA/GobangPA/build/
/Java/GobangPA/GobangPA/dist/
/Java/GobangPA/PaMiniTeleport/nbproject/private/
/Java/GobangPA/PaMiniTeleport/build/
/Java/GobangPA/PaMiniTeleport/dist/
/Java/PaApplets/nbproject/private/
/Java/PaApplets/build/
/Java/PaApplets/dist/