/Java/JCalculator/nbproject/private/
/Java/JCalculator/build/
/Java/PAMovieCatalog/nbproject/private/
/Java/PAMovieCatalog/build/
/Java/PAMovieCatalog/dist/
/Java/PALabyrinthEditor/nbproject/private/
/Java/PALabyrinthEditor/build/
/Java/PALabyrinthEditor/dist/
/Java/ProgramareAvansata/nbproject/private/
/Java/LabyrinthPA/LabyrinthPA/nbproject/private/
/Java/MazeGameDemo/nbproject/private/
/Java/LabyrinthPA/LabyrinthPA/build/
/Java/LabyrinthPA/LabyrinthPA/dist/